
.nav-sidebar .nav-item{
    margin: 0.12rem!important;
}

/*    Humberger icon
--------------------------*/

.hamburger .line {
    background-color: #252525;
    display: block;
    height: 3px;
    margin: 4px auto;
    width: 22px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger.is-active .line:nth-child(1), .hamburger.is-active .line:nth-child(3) {
    width: 10px;
    height: 3px;
}

.hamburger.is-active .line:nth-child(2) {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
    width: 20px;
    height: 3px;
}

.hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(45deg);
    transform: translateY(3px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-3px) rotate(-45deg);
    transform: translateY(-3px) rotate(-45deg);
}
